@charset "UTF-8";
h1 {
  display: flex;
  color: crimson;
  inline-size: auto;
  flex-direction: row;
  margin: 0px 0px 50px 400px;
}

h2 {
  display: flex;
  color: crimson;
  inline-size: auto;
  flex-direction: row;
}

h3 {
  display: flex;
  color: crimson;
  /* inline-size: auto; */
  flex-direction: row;
}

a {
  display: flex;
  color: crimson;
}

.cbotton, .ccater .cbotton {
  height: 60px;
  width: 230px;
  font-weight: 700;
  background-color: rgb(206, 18, 18);
  text-align: center;
  border-radius: 150px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}

.cbotton, .ccater .cbotton {
  position: relative;
}

.cbotton a, .ccater .cbotton a {
  position: absolute;
  left: 50%; /* Ajusta el valor según la posición deseada */
  transform: translateX(-50%); /* Centra horizontalmente el botón */
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: black;
  padding: 20px 0;
  position: relative;
  z-index: 1;
}

header img {
  height: 130px;
  border-radius: 25px;
  margin: 0 20px;
}

header nav {
  flex-grow: 1;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: crimson;
  font-size: 25px;
}

header nav ul li a:hover {
  font-size: 30px;
}

main {
  height: 100vh;
  position: relative;
  z-index: 0;
}
main .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

body {
  font-family: "Caveat", cursive;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-family: "Poppins", sans-serif;
  background-color: black;
  background-size: cover;
  color: white;
  margin: 0;
  padding: 0;
}

footer {
  margin: 0px 100px 0px 0px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  display: grid;
  width: 100%;
  height: 12%;
  grid-template-rows: repeat(1, 1fr);
  background-color: rgba(238, 39, 39, 0.993);
  justify-content: center;
  position: fixed;
  bottom: 0;
}
footer .pie-medio {
  display: flex;
  justify-content: center;
}
footer .icono {
  margin: 1px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  background-color: rgba(214, 14, 14, 0.8784313725);
  padding: 20px;
  margin-top: 40px;
}
.container input[type=submit]:hover {
  background-color: white;
}
.container input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.container input[type=text],
.container select,
.container textarea {
  width: 100%;
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;
  resize: horizontal;
}

.ccater {
  display: grid;
  grid-template-rows: 1, 100px;
  grid-template-columns: repeat(3, 400px);
  margin: 100px 50px 300px 80px;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.986);
  position: cover;
  border-radius: 25px;
  text-decoration: none;
}
.ccater .cobjetivo {
  display: grid;
  margin: 50px 50px px 80px;
  padding: 15px;
  text-decoration: none;
}
.ccater .cpropuesta {
  display: grid;
  margin: 50px 50px px 80px;
  padding: 15px;
}
.ccater .cexperiencia {
  display: grid;
  margin: 50px 50px px 80px;
  padding: 15px;
}
.ccater .cbotton {
  bottom: 0;
  padding: 0px 0px;
}

.nnosotr {
  display: grid;
  grid-template-rows: 1, 100px;
  grid-template-columns: repeat(3, 350px);
  margin: 10px 10px 10px 50px;
  padding: 10px;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
  font-size: 24px;
}
.nnosotr .nconcepto {
  display: grid;
  grid-column: auto;
  margin: 0px 0px 0px 0px;
  padding: 15px;
}
.nnosotr .nmision {
  display: grid;
  grid-column: auto;
  margin: 0px 0px 0px 10px;
  padding: 15px;
}
.nnosotr .nproducto {
  display: grid;
  grid-column: auto;
  margin: 0px px 0px 0px;
  padding: 15px;
}

.nhistoria {
  display: grid;
  margin: 20px 30px 80px 80px;
  padding: 0px;
  align-items: center;
  border-radius: 25px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #000000;
}
.nhistoria .nhistoria .card-text {
  font-weight: bold;
  font-size: 30px;
  display: grid;
  width: 1000px;
  height: 800px;
  text-align: center;
  justify-items: center;
  font-size: 24px;
}

.card-img-overlay {
  display: grid;
  position: relative;
  background-image: url("../IMG/mision.avif");
  width: 1350px;
  height: 800px;
  border-radius: 25px;
}

.mopcionesg {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 20px 50px 50px 80px;
  margin-top: 40px;
  margin-bottom: 120px;
}

.mopcionesg > div {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 40px;
}

.mentrada {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  justify-content: flex-start;
  align-items: flex-start;
}

.mcombos {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 40px;
  justify-content: flex-start;
  align-items: flex-end;
}

.mhotrolls {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}

.m-viandas {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 40px;
  justify-content: flex-start;
  align-items: flex-end;
}

.list-group-item {
  text-decoration: none;
  list-style-type: none;
  justify-content: center;
  text-align: left;
  padding: 10px;
  color: white;
}

.card-img-top {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 25px;
  text-decoration: none;
}

.cbotton, .ccater .cbotton {
  position: relative;
  bottom: 0;
}

.cbotton, .ccater .cbotton {
  bottom: 0;
}

@media screen and (max-width: 425px) {
  header {
    flex-direction: column;
  }
  header nav ul {
    text-align: left;
    float: left;
    flex-direction: row;
    width: 0, 30px;
    margin: none;
    margin: 10px 0px 0px 0px;
    font-size: 17px;
  }
  main .carousel {
    margin: 10px 0px 0px 0px;
    height: 100px;
  }
  main .carousel .carousel-inner {
    width: 100%;
    height: auto;
  }
  main .carousel .carousel-item img {
    height: 250px;
    max-width: 100%;
  }
  main .carousel .carousel-control-prev,
  main .carousel .carousel-control-next {
    top: auto;
    bottom: 10px;
  }
  .footer .pie-medio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container {
    display: grid;
    grid-template-columns: auto;
    margin: 30px 0px 0px 0px;
  }
  .container form input,
  .container form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  .container form input[type=cbutton] {
    display: block;
    margin: 0 auto;
  }
  .mopcionesg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  .mopcionesg > div {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .mentrada,
  .mcombos,
  .mhotrolls,
  .m-viandas {
    align-items: center;
  }
  .card-img-top {
    width: 100%;
    height: auto;
  }
  .list-group-item {
    text-align: center;
  }
  .cbotton, .ccater .cbotton {
    margin-top: 20px;
    text-align: center;
  }
  .ccater {
    display: grid;
    grid-template-columns: auto;
    margin: 0px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0.767);
    position: cover;
    gap: 20px;
    align-items: center;
    padding: 20px;
    margin-bottom: 70px;
  }
  .cbotton, .ccater .cbotton {
    margin-top: 10px;
  }
}
.nnosotr {
  grid-template-columns: auto;
  margin: 20px 10px 10px 0px;
  width: 10;
  font-size: 15px;
}
.nnosotr .nconcepto {
  display: grid;
  grid-template-columns: auto;
  margin: none;
  margin: 10px 0px 0px 70px;
}
.nnosotr .nmision {
  display: grid;
  grid-template-columns: auto;
  margin: none;
  margin: 10px 0px 0px 70px;
}
.nnosotr .nproducto {
  display: grid;
  grid-template-columns: auto;
  margin: none;
  margin: 10px 0px 0px 70px;
}
.nnosotr .nproducto .card-body {
  max-width: 100%;
  padding: 0 10px;
}

.nhistoria {
  display: grid;
  grid-template-columns: auto;
  margin: 30px 0px 0px 0px;
  text-align: left;
  font-size: 10px;
}
.nhistoria .card-img-overlay {
  display: grid;
  flex-direction: left;
  grid-column: start;
}
.nhistoria .card-title {
  font-size: 20px;
  text-align: left;
  flex-direction: row;
  width: 350px;
  height: 50px;
  margin: 10px 20px 10px 50px;
}
.nhistoria .card-text {
  display: grid;
  grid-column: start;
  grid-column-start: 1;
  font-size: 15px;
  text-align: left;
  flex-direction: left;
  width: 320px;
  height: 450px;
  margin: 10px 10px 10px 50px;
}

h1 {
  font-size: 10px;
  text-align: left;
  flex-direction: row;
  width: 10px;
  margin: 50px 100px 50px 300px;
}

h2 {
  font-size: 15px;
  display: flex;
  color: crimson;
  flex-direction: row;
}

/*# sourceMappingURL=style.css.map */
