h1 {
  display: flex;
  color: crimson;
  inline-size: auto;
  flex-direction: row;
  margin: 0px 0px 50px 400px;
}

h2 {
  display: flex;
  color: crimson;
  inline-size: auto;
  flex-direction: row;
}

h3 {
  display: flex;
  color: crimson;
  /* inline-size: auto; */
  flex-direction: row;
}

a {
  display: flex;
  color: crimson;
}

.cbotton, .ccater .cbotton {
  height: 50px;
  width: 300px;
  font-weight: 700;
  background-color: rgb(189, 179, 179);
  text-align: center;
  border-radius: 150px;
  padding: 10px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: black;
  bottom: auto;
}
header img {
  height: 130px;
  border-radius: 25px;
}
header nav ul {
  gap: 20px;
  display: flex;
  font-size: 25px;
  margin: 30px 100px 80px 350px;
  list-style: none;
  justify-content: cover;
  position: right;
}
header nav ul a {
  text-decoration: none;
  color: crimson;
}
header nav ul a:hover {
  font-size: 30px;
}

main .carousel {
  margin: 100px 0px 0px 0px;
  position: static;
}

body {
  font-family: "Caveat", cursive;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-family: "Poppins", sans-serif;
  background-image: url(../IMG/4.avif);
  background-size: cover;
  color: white;
}

footer {
  margin: 0px 50px 0px 0px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  display: grid;
  width: 100%;
  grid-template-rows: repeat(1, 1fr);
  background-color: rgba(238, 39, 39, 0.993);
  justify-content: center;
  position: fixed;
  bottom: 0;
}
footer .pie-medio {
  display: grid;
  padding: 20px;
  justify-content: space-evenly;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  background-color: #201f1f;
  padding: 20px;
}
.container input[type=submit]:hover {
  background-color: white;
}
.container input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.container input[type=text],
.container select,
.container textarea {
  width: 100%;
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;
  resize: horizontal;
}

.cdelivery {
  width: 200px;
  height: 200px;
  margin: 100px 30px 100px 90px;
  border-radius: 35px;
  transition: all 1s;
}
.cdelivery img:hover {
  transform: translatex(-1000px);
}

.ccater {
  display: grid;
  grid-template-rows: 1, 100px;
  grid-template-columns: repeat(3, 400px);
  margin: 100px 50px 300px 80px;
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.767);
  position: cover;
  border-radius: 25px;
  text-decoration: none;
}
.ccater .cobjetivo {
  display: grid;
  margin: 50px 50px px 80px;
  padding: 15px;
  text-decoration: none;
}
.ccater .cpropuesta {
  display: grid;
  margin: 50px 50px px 80px;
  padding: 15px;
}
.ccater .cexperiencia {
  display: grid;
  margin: 50px 50px px 80px;
  padding: 15px;
}
.ccater .cbotton {
  background-color: rgb(180, 6, 41);
  color: white;
  text-decoration: none;
}

.nnosotr {
  display: grid;
  grid-template-rows: 1, 100px;
  grid-template-columns: repeat(3, 350px);
  margin: 10px 10px 10px 50px;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.767);
  border-radius: 25px;
}
.nnosotr .nconcepto {
  display: grid;
  grid-column: auto;
  margin: 0px 0px 0px 0px;
  padding: 15px;
}
.nnosotr .nmision {
  display: grid;
  grid-column: auto;
  margin: 0px 0px 0px 10px;
  padding: 15px;
}
.nnosotr .nproducto {
  display: grid;
  grid-column: auto;
  margin: 0px px 0px 0px;
  padding: 15px;
}

.nhistoria {
  display: grid;
  width: 1000px;
  height: 800px;
  margin: 20px 30px 80px 80px;
  padding: 0px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: black;
  justify-items: center;
  align-items: center;
  border-radius: 25px;
}
.nhistoria .card-img-overlay {
  display: grid;
  background-image: url("../IMG/artesana.jpg");
}
.nhistoria .card-text {
  display: grid;
}

.mopcionesg {
  height: 250px;
  display: flex;
  flex-direction: 1 row;
  align-items: stretch;
  padding: 150;
  flex-wrap: nowrap;
  justify-content: center;
  text-decoration: none;
}

.list-group-item {
  text-decoration: none;
  list-style-type: none;
  justify-content: center;
  padding: 0, 60px;
}

.card-img-top {
  display: flex;
  width: 250px;
  height: 250px;
  border-radius: 25px;
  text-decoration: none;
}

@media screen and (max-width: 425px) {
  header {
    flex-direction: column;
  }
  header nav ul {
    text-align: left;
    float: left;
    flex-direction: row;
    width: 0, 50px;
    margin: none;
    margin: 10px 0px 0px 0px;
    font-size: 17px;
  }
  main .carousel {
    margin: 50px 0px 0px 0px;
  }
  .container {
    display: grid;
    grid-template-columns: auto;
    width: 50px;
    height: 100px;
    margin: none;
    margin: 30px 0px 0px 0px;
  }
  .container .cdelivery {
    display: grid;
    grid-template-columns: auto;
    margin: none;
    margin: 10px 0px 0px 70px;
  }
  .mopcionesg {
    flex-direction: column;
    margin: none;
    height: auto;
    font-size: 15px;
    margin: 1px 10px 100px 20px;
  }
  .ccater {
    grid-template-columns: auto;
    margin: 0px 0px 0px 0px;
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.767);
    position: cover;
  }
  .nnosotr {
    grid-template-columns: auto;
    margin: 50px 10px 10px 0px;
    margin: none;
    height: 20;
    width: 10;
    font-size: 15px;
  }
  .nnosotr .nconcepto {
    display: grid;
    grid-template-columns: auto;
    margin: none;
    margin: 10px 0px 0px 70px;
  }
  .nnosotr .nmision {
    display: grid;
    grid-template-columns: auto;
    margin: none;
    margin: 10px 0px 0px 70px;
  }
  .nnosotr .nproducto {
    display: grid;
    grid-template-columns: auto;
    margin: none;
    margin: 10px 0px 0px 70px;
  }
  .nhistoria {
    display: grid;
    grid-template-columns: auto;
    margin: 30px 0px 0px 0px;
    text-align: left;
    font-size: 10px;
    flex-direction: left;
    width: 100px;
    height: 950px;
  }
  .nhistoria .card-img-overlay {
    display: grid;
    flex-direction: left;
    grid-column: start;
  }
  .nhistoria .card-title {
    font-size: 20px;
    text-align: left;
    flex-direction: row;
    width: 350px;
    height: 50px;
    margin: 10px 20px 10px 50px;
  }
  .nhistoria .card-text {
    display: grid;
    grid-column: start;
    grid-column-start: 1;
    font-size: 15px;
    text-align: left;
    flex-direction: left;
    width: 320px;
    height: 450px;
    margin: 10px 10px 10px 50px;
  }
  h1 {
    font-size: 10px;
    text-align: left;
    flex-direction: row;
    width: 10px;
    margin: 50px 100px 50px 300px;
  }
  h2 {
    font-size: 15px;
    display: flex;
    color: crimson;
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
