body {
  font-family: 'Caveat', cursive;
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-family: 'Poppins', sans-serif;
  background-color:black;
  // background-image: url(../IMG/4.avif);
  background-size: cover;
  color: white;
  margin: 0;
  padding: 0;


}