.container {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  background-color: #d60e0ee0;
  padding: 20px;
  margin-top: 40px;


  input[type=submit]:hover {
    background-color: white;
  }

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=text],
  select,
  textarea {
    width: 100%;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: horizontal;
  }

}



  

  
  

  


