.container {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  background-color: #201f1f;
  padding: 20px;

  input[type=submit]:hover {
    background-color: white;
  }

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=text],
  select,
  textarea {
    width: 100%;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: horizontal;
  }

}

.cdelivery {
  width: 200px;
  height: 200px;
  margin: 100px 30px 100px 90px;
  border-radius: 35px;
  transition: all 1s;

  img:hover {
    // transform:scale(1.4) ;
    // transform: rotate(360deg);
    transform: translatex(-1000px);

  }

}