.mopcionesg {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 20px 50px 50px 80px;
  margin-top: 40px;
  margin-bottom: 120px;
}


.mopcionesg>div {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 40px;
}

.mentrada {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  justify-content: flex-start;
  align-items: flex-start;
}

.mcombos {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 40px;
  justify-content: flex-start;
  align-items: flex-end;
}

.mhotrolls {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}

.m-viandas {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 40px;
  justify-content: flex-start;
  align-items: flex-end;



}

.list-group-item {
  text-decoration: none;
  list-style-type: none;
  justify-content: center;
  text-align: left;
  padding: 10px;
  color:white;

}

.card-img-top {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 25px;
  text-decoration: none;
}


.cbotton {
  position: relative;
  bottom: 0;
}

.cbotton {
  @extend .cbotton;
  bottom: 0;

}