.nnosotr {
  display: grid;
  grid-template-rows: (1, 100px);
  grid-template-columns: repeat(3, 350px);
  margin: 10px 10px 10px 50px;
  padding: 10px;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
  font-size: inherit;

  .nconcepto {
    @include center-grid;

    margin: 0px 0px 0px 0px;
    padding: 15px;

  }

  .nmision {
    @include center-grid;

    margin: 0px 0px 0px 10px;
    padding: 15px;
    // text-align: justify;
  }

  .nproducto {
    @include center-grid;
    margin: 0px px 0px 0px;
    padding: 15px;
    // text-align: justify;
  }

}


.nhistoria {
  display: grid;
  margin: 20px 30px 80px 80px;
  padding: 0px;
  align-items: center;
  border-radius: 25px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #000000;

  .nhistoria .card-text {
    font-weight: bold;
    font-size: 30px;
    display: grid;
    width: 100%;
    height: auto;
    text-align: center;
    justify-items: center;
    font-size: 24px;
  }

  }

  .card-img-overlay {
    display: grid;
    position: relative;
    background-image: url("../IMG/mision.avif");
    width: auto;
    height: auto;
    border-radius: 25px;

  }
 