@media screen and (max-width: 425px) {

  header {
    flex-direction: column;
     }

    header nav ul {
      display: flex;
      text-align: left;
      // float: left;
      flex-direction: row;
      // max-width: 100%;
      margin: 10px 0px 0px 0px;
      font-size: 10px;
      width: 0,30px;
      margin: none;
      margin: 10px 0px 0px 0px;
      

    }

    header nav ul li a {
      text-decoration: none;
      color: crimson;
      font-size: 17px;

 }

  main {

    .carousel {
    margin-top: 0;
    margin: 10px 0px 0px 0px;
    height: 450px;


   .carousel-inner {
    width: 100%;
    height: auto;
    margin-top: 0;
      }

    .carousel-item img {
    height: 250px;
    max-width: 100%;
      }

    .carousel-control-prev,
    .carousel-control-next {
    bottom: 10px;
      }
    }


  }


  .footer {

    .pie-medio {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: static;
    }

  }
   


  .container {

  display: grid;
  grid-template-columns: auto;
  // width: 80%;
  // text-align: center;
  // height: 100px;
  // margin: none;
  margin: 30px 0px 0px 0px;

  form input,
  form textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
    }

  form input[type="cbutton"] {
    display: block;
    margin: 0 auto;
    }

  }

  .mopcionesg {
    display: flex;
    flex-direction: column;
    // margin: none;
    // height: auto;
    align-items: center;
    margin: 20px;
  }
  
  .mopcionesg>div {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  
  .mentrada,
  .mcombos,
  .mhotrolls,
  .m-viandas {
    align-items: center;
  }
  .card-img-top {
    width: 100%;
    height: auto;
  }
  
  .list-group-item {
    text-align: center;
  }
  
  .cbotton {
    margin-top: 20px;
    text-align: center;
  }


  .ccater {
    display: grid;
    grid-template-columns: auto;
    margin: 0px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0.767);
    position: cover;
    gap: 20px;
    align-items: center;
    padding: 20px;
    margin-bottom: 70px; 
  }

  .cbotton {
    margin-top: 10px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  }
  
  .nnosotr {
    grid-template-columns: auto;
    margin: 20px 10px 10px 0px;
    // margin: none;
    // height: 20px;
    width: 10;
    font-size: 15px;

  .nconcepto {
     display: grid;
     grid-template-columns: auto;
     margin: none;
     margin: 10px 0px 0px 70px;

    }

    .nmision {
      display: grid;
      grid-template-columns: auto;
      margin: none;
      margin: 10px 0px 0px 70px;

    }

   .nproducto {
     display: grid;
     grid-template-columns: auto;
     margin: none;
     margin: 10px 0px 0px 70px;

      .card-body {
        max-width: 100%;
        padding: 0 10px;
      }
    }


  }

  .nhistoria {
    display: grid;
    grid-template-columns: auto;
    margin: 30px 0px 0px 0px;
    text-align: left;
    font-size: 10px;
    // flex-direction: left;
    // width: 100px;
    // height: 950px;


    .card-img-overlay {
      display: grid;
      flex-direction: left;
      grid-column: start;

    }


    .card-title {

      font-size: 20px;
      text-align: left;
      flex-direction: row;
      width: 350px;
      height: 50px;
      margin: 10px 20px 10px 50px;
    }

    .card-text {
      display: grid;
      grid-column: start;
      grid-column-start: 1;
      font-size: 15px;
      text-align: left;
      flex-direction: left;
      width: 320px;
      height: 450px;
      margin: 10px 10px 10px 50px;

    }
  }

  h1 {
    font-size: 10px;
    text-align: left;
    flex-direction: row;
    width: 10px;
    margin: 50px 100px 50px 300px;

  }

  h2 {
    font-size: 15px;
    display: flex;
    color: crimson;
    // inline-size: auto;
    flex-direction: row;
  }
