// variables

$color-principal: crimson;

$colores: (
  negro: black,
  blanco: white,

);


h1 {
  display: flex;
  color: $color-principal;
  inline-size: auto;
  flex-direction: row;
  margin: 0px 0px 50px 100px;
}

h2 {
  display: flex;
  color: $color-principal;
  inline-size: auto;
  flex-direction: row;
}

h3 {
  display: flex;
  color: $color-principal;
  /* inline-size: auto; */
  flex-direction: row;
}

a {
  display: flex;
  color: $color-principal;
}

// extend
%button-style {
  height: 60px;
  width: 230px;
  font-weight: 700;
  background-color: rgb(206, 18, 18);
  text-align: center;
  border-radius: 150px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}


.cbotton {
  @extend %button-style;
  position: relative;
}

.cbotton a {
  position: absolute; 
  // bottom: 0; /* Ajusta el valor según la posición deseada */
  left: 50%; /* Ajusta el valor según la posición deseada */
  transform: translateX(-50%); /* Centra horizontalmente el botón */
  text-decoration: none;
  // background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}


// mixin
@mixin center-grid {
  display: grid;
  grid-column: auto;


}